<!-- "script/apps/Aries/Creator/Game/Tasks/BuildQuestTask.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <pe:mcml>
        <script refresh="false" type="text/npl" src="ModelManager.lua">
            <![CDATA[
                ModelManager = commonlib.gettable("Mod.ModelShare.ModelManager");

                curModelManager = ModelManager.curInstance;
                curModelManager:SetPage();
            ]]>
        </script>
        <style type="text/mcss">
            {
                ["item_button_common"] = {
                    margin  = 0,
                    padding = 0,
                },
                ["item_text"] = {
                    width           = 110,
                    height          = 23,
                    ["font-size"]   = 12,
                    margin          = 0,
                    padding         = 0,
                    color           = "#ffffff",
                    ["margin-left"] = 3,
                },
                ["item_text_select"] = {
                    background = "Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png;208 89 21 21:4 4 4 4",
                },
                ["item_text_unselect"] = {
                    background = "Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#179 89 21 21:4 4 4 4",
                },
                ["item_close_button"] = {
                    ["margin-top"]  = 2,
                    ["margin-left"] = 8,
			        background = "Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png;367 63 18 18",
			        width  = 18,
			        height = 18,
		        },
                order = {
                     width      = 16.86,
                     height     = 23,
                     ["margin-left"] = 5,
                     background = "Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png;403 72 11 15",
		        },
            }
        </style>
        <aries:window mode="thin" title='<%=L"模板管理"%>' style="width:636px;height:450px;" onclose="curModelManager.ClosePage">
            <div style="width:636px;height:436px;margin-left:10px;margin-top:-4px;padding:0px;">
                <div style="float:left;margin-left:0px;margin-top:15px;width:117px;">
                    <pe:gridview name="gvwMCTheme" DefaultNodeHeight="32" DataSource="<%=curModelManager.GetTheme_DS%>" pagesize="10" ItemsPerLine="1" style="margin-left:-5px;" AllowPaging="true">
                        <Columns>
                            <div style="height:32px;">
                                <pe:if condition='<%= Eval("name") == "empty" %>'>
                                    <div style="margin-left:35px;margin-top:1px;width:68px;height:23px;">
                                        <input type="button" onclick="curModelManager.vip" tooltip='<%=L"点击创建新模板种类"%>' style="margin-left:15px;width:10px;height:10px;background:url(Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#501 203 10 10)" />
                                    </div>
                                </pe:if>
                                <pe:if condition='<%= Eval("name") ~= "empty" %>'>
                                    <pe:if condition='<%= curModelManager.GetCurThemeIndex() == Eval("index") %>'>
                                        <input type="button" value='<%=Eval("name") %>' enabled="false" style="margin-top:1px;width:110px;height:23px;font-size:12px;margin:0px;padding:0px;color:#ffffff;background:url(Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#208 89 21 21:4 4 4 4)" />
                                    </pe:if>
                                    <pe:if condition='<%= curModelManager.GetCurThemeIndex() ~= Eval("index") %>'>
                                        <input type="button" value='<%=Eval("name") %>' onclick="curModelManager.ChangeTheme" param1='<%=Eval("index") %>' style="margin-top:1px;width:110px;height:23px;font-size:12px;margin:0px;padding:0px;color:#ffffff;background:url(Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#179 89 21 21:4 4 4 4)" />
                                    </pe:if>
                                </pe:if>
                            </div>
                        </Columns>
                        <PagerSettings Position="Bottom" height="1" />
                        <PagerTemplate AutoHidePager="true">
                            <form>
                                <label name="page" style="height:18px;margin-left:59px;margin-top:-95px;color:#ffffff;" />
                                <input type="button" name="pre"  invisibleondisabled="false" zorder=2 animstyle="23" tooltip='<%=L"上一页"%>' style="margin-left:35px;margin-top:-93px;width:13px;height:15px;background:url(Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#224 149 13 15);" Normal_BG="Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#224 149 13 15" Pressed_BG="Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png;224 167 13 15" />
                                <input type="button" name="next" invisibleondisabled="false" zorder=2 animstyle="23" tooltip='<%=L"下一页"%>' style="margin-left:40px;margin-top:-93px;width:13px;height:15px;background:url(Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#249 149 13 15);" Normal_BG="Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png;249 149 13 15" Pressed_BG="Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png;249 167 13 15" />
                            </form>
                        </PagerTemplate>
                    </pe:gridview>
                </div>
                <div style="float:left;margin-left:10px;margin-top:5px;width:1px;height:421px;background:url(Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#344 66 1 1)" />
                <div style="float:left;width:200px;margin-top:15px;margin-left:10px;">
                    <pe:gridview name="gvwMCTask" DefaultNodeHeight="32" DataSource="<%=curModelManager.GetTask_DS%>" pagesize="10" ItemsPerLine="1" AllowPaging="true">
                        <Columns>
                            <div style="height:32px;">
                                <pe:if condition='<%= curModelManager.TaskIsSelected(Eval("index")) == true %>'>
                                    <div style="float:left;width:23px;height:23px;background-color:#ff0000"></div>
                                    <input type="button" class="item_text item_text_select" value='<%=Eval("name") %>' enabled="false"/>
                                    <input type="button" class="order item_button_common" onclick="curModelManager.shareTemplate"/>
                                    <input type="button" class="item_close_button item_button_common" onclick="curModelManager.DeleteTemplate"/>
                                </pe:if>
                                <pe:if condition='<%= curModelManager.TaskIsSelected(Eval("index")) == false %>'>
                                    <div style="float:left;width:23px;height:23px;background-color:#ff0000"></div>
                                    <input type="button" class="item_text item_text_unselect" value='<%=Eval("name") %>' onclick="curModelManager.ChangeTask" param1='<%=Eval("index") %>' />
                                    <input type="button" class="order item_button_common" onclick="curModelManager.shareTemplate"/>
                                    <input type="button" class="item_close_button item_button_common" onclick="curModelManager.DeleteTemplate"/>
                                </pe:if>
                            </div>
                        </Columns>
                        <EmptyDataTemplate>
                            <div style="color:#ffffff;margin-left:20px;">
                                <b><%=L"当前没有模板"%></b>
                            </div>
                        </EmptyDataTemplate>
                        <FetchingDataTemplate>
                            <b><%=L"请稍等 ... "%></b>
                        </FetchingDataTemplate>
                        <PagerSettings Position="Bottom" height="1" />
                        <PagerTemplate AutoHidePager="true">
                            <form>
                                <label name="page" style="height:18px;margin-left:59px;margin-top:-45px;color:#ffffff;" />
                                <input type="button" name="pre"  invisibleondisabled="false" zorder=2 animstyle="23" tooltip="上一页" style="margin-left:35px;margin-top:-43px;width:13px;height:15px;background:url(Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#224 149 13 15);" Normal_BG="Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#224 149 13 15" Pressed_BG="Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png;224 167 13 15" />
                                <input type="button" name="next" invisibleondisabled="false" zorder=2 animstyle="23" tooltip="下一页" style="margin-left:40px;margin-top:-43px;width:13px;height:15px;background:url(Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#249 149 13 15);" Normal_BG="Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png;249 149 13 15" Pressed_BG="Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png;249 167 13 15" />
                            </form>
                        </PagerTemplate>
                    </pe:gridview>
                </div>
                <div style="float:left;margin-left:-10px;margin-top:5px;width:1px;height:421px;background:url(Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#344 66 1 1)" />
                <div style="float:left;margin-left:0px;margin-top:0px;">
                    <div style="color:#FFFFFF;textcolor:#FFFFFF;padding:8px;margin-left:1px;margin-top:1px;height:260px;">
                        <div style="text-align:center;height:35px;font-size:20px;base-font-size:20px;width:275px;">
                            <%=curModelManager.GetTaskName()%>
                        </div>
                        <div>模板编号：<%= curModelManager.GetTaskInfo().infoCard.sn %></div>
                        <div>创建日期：<%= curModelManager.GetTaskInfo().infoCard.createDate %></div>
                        <div>方块数量：<%= curModelManager.GetTaskInfo().infoCard.blocks %></div>
                        <div>体积：<%= curModelManager.GetTaskInfo().infoCard.volume %></div>
                        <div>用户信息：<%= curModelManager.GetTaskInfo().infoCard.username %></div>
                        <div>分享模板：<%= curModelManager.GetTaskInfo().infoCard.isShare %></div>

                        <pe:if condition='<%=not ModelManager.isEditing %>'>
                            <pe:if condition='<%=curModelManager.CanEditing() %>'>
                                <input type="button" name="btn_rename" tooltip='<%=L"修改描述"%>' onclick="curModelManager.OnChangeTaskDesc" style="position:relative;margin-top:3px;width:8px;height:9px;background:url(Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#495 155 8 9)" />
                            </pe:if>
                            <div style="position:relative;margin:20px;margin-top:40px;color:#cccccc;"><%=curModelManager.GetTaskInfo().desc %> </div>
                        </pe:if>
                        <pe:if condition='<%= ModelManager.isEditing %>'>
                            <input type="button" tooltip='<%=L"保存"%>' onclick="curModelManager.OnSaveTaskDesc" style="position:relative;margin-top:3px;width:9px;height:9px;background:url(Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#495 141 9 9)" />
                            <div style="margin-left:12px;margin-top:3px;width:260px;" class="mc_text">
                                <textarea name="content" EmptyText='<%=L"点击这里输入(Ctrl+V可以粘贴)"%>' VerticalScrollBarStep="8" rows="4" value='<%=curModelManager.GetTaskDesc()%>' style="color:#cccccc;background:;"></textarea>
                            </div>
                        </pe:if>
                    </div>
                    <div style="float:left;margin-left:0px;margin-top:-1px;width:290px;height:2px;background:url(Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#344 66 1 8)" />
                    <div style="margin-left:20px;margin-top:3px;">
                        <pe:if condition="<%= curModelManager.screenshot()%>">
                            <img src="<%= screenshot()%>" alt="Alternate Text" />
                        </pe:if>
                        <pe:if condition="<%= not curModelManager.screenshot()%>">
                            <div style="text-align:center;padding-top:60px;width: 260px;height: 150px;background-color:#FFFFFF;textcolor:#000000;color:#000000">
                                暂无截图
                            </div>
                        </pe:if>
                        <input type="button" onclick="curModelManager.StartBuild" value='<%=curModelManager.GetQuestTriggerText() %>' tooltip='<%=L"左键相对人物;右键为绝对位置"%>' style="margin-top:-30px;margin-left:110px;height:24px;color:#ffffff;font-size:16px;background:url(Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#236 89 26 26:10 10 10 10)" />
                    </div>
                </div>
            </div>
        </aries:window>
    </pe:mcml>
</body>
</html>

